# common
.idea
.vscode
node_modules
.nx/

# build dist
cliq
apps/cliq-app/cliq
apps/cliq-frontend/dist/
apps/cliq-hub-backend/server

# miscellaneous
apps/cliq-app/frontend/package.json.md5
project-graph.html
