.idea
.vscode
node_modules
apps/cliq-app/cliq
apps/cliq-app/frontend/package.json.md5
apps/**/pnpm-lock.yaml
.nx/
static/
project-graph.html
apps/cliq-frontend/dist/index.html
apps/cliq-frontend/dist/assets/index-YhZmG0Ov.js
